
#input {
	padding: 8px;
	padding-right: 75px;
	margin-left: 110px;
}



#submit {
	background-color: #306dd1;
	border: none; 
	color: white; 
	padding: 8px 90px; 
	text-align: center;
	text-decoration: none;
	font-size: 12px; margin-left: 110px;
}
*{
	margin: 0 auto 0 auto;
}

body {
  font-size: 0.8em;
}

#map-container, #side-container, #side-container li {
  float: left;
}

#map-container {
  width: 200px;
  height: 500px;
}
#location {
  overflow: float-right;
}
#side-container {
  border: 1px solid #bbb;
  margin-right: 5px;
  padding: 2px 4px;
  text-align: left;
  width: 260px;
}
#side-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#side-container li input {
  font-size: 0.85em;
  width: 210px;
}
#side-container .dir-label {
  font-weight: bold;
  padding-right: 3px;
  text-align: right;
  width: 40px;
}

#dir-container {
  height: 525px;
  overflow: auto;
  padding: 2px 4px 2px 0;
}
#dir-container table {
  font-size: 1em;
  width: 100%;
}

body{
	margin:0;
	padding:0;
	text-align:left;
	font-size:13px;
	font-family:arial,helvetica, sens-serif;
	color:#000000;
	background-color:#1c478e;
	background-image:url(../images/background.png);
	background-repeat:repeat-x;
}

a{
	text-decoration:none;
}

table,tr,td,th{
	margin:0;
}

table{
	padding:10px 0;
}

th{
	text-align:center;
}

td{
	padding:5px 20px;
}

h2{
	padding-bottom:10px;
}

h3{
	font-size:16px;
	font-weight:bold;
	padding:10px 0;
	color:#054dbc;
}

h4{
	font-size:15px;
	font-weight:bold;
	padding-bottom:7px;
	color:#054dbc;
}


p{
	margin:10px 0;
}

label{
	display:inline-block;
	width:150px;
}

/* Main styles */
#container{
	width:960px;
	overflow:auto;
}

header{
	width:960px;
	height:85px;
}

header h1{
	float:left;
	color:#ffffff;
	font-size:43px;
	padding:20px 0 0 20px;
}

header h2{
	float:right;
	color:#A9D1FA;
	padding:40px 20px 0 0;
}

header h1 span.blue-text{
	color:#67A0F5;
}

header h2 span.white-text{
	color:#ffffff;
}
aside {
color:#fff;

}
aside input[type="text"],aside input[type="email"]{
margin-bottom:10px;
}
#dispalyname{
color:#fff;
float:right;
padding-right:10px;
font-weight:bold;
font-size:16px;
}
nav#menu{
	display:block;
	float:left;
	clear:both;
	width:960px;
	height:54px;
}

nav#menu ul{
	list-style:none;
	padding:0;
	padding-top:18px;
	margin-left:auto;
	width:960px;
}

nav#menu li{
	list-style:none;
	padding:0;
	display;inline;
}




section{
	display:block;
	width:410px;
	margin-top:65px;
	float:center;
	background:#ffffff;
	border-radius:10px;
	border:6px solid #1C478E;
	padding:15px;

}

footer{
	width:100%;
	background:#000;
	color:#fff;
	height:30px;
	text-align:center;
	margin-top:20px;
	padding-top:15px;
}

